{% load static %}
{% url 'products:list' as products_list %}
{% url 'dashboard:home_page' as dash_home %}
{% url 'dashboard:prod_registration' as prod_registration %}
{% url 'dashboard:usr_registration' as usr_registration %}
{% url 'dashboard:usr_login' as usr_login %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{{products_list}}">
        {% if comcompany_name %} {{company_name}} {% else %} Jeffersons Media {% endif %}
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item {% if request.path == products_list %}active{% endif %}">
                <a class="nav-link" href="{{products_list}}">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item {% if request.path == dash_home %}active{% endif %}">
                <a class="nav-link" href="{{dash_home}}">Dashboard</a>
            </li>
            <li class="nav-item {% if request.path == products_list %}active{% endif %}">
                <a class="nav-link" href="{{products_list}}">Products</a>
            </li>
            <li class="nav-item {% if request.path == prod_registration %}active{% endif %}">
                <a class="nav-link" href="{{prod_registration}}">Add Product</a>
            </li>
            <li class="nav-item {% if request.path == usr_registration %}active{% endif %}">
                <a class="nav-link" href="{{usr_registration}}">Register</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/admin">admin</a>
            </li>
            {% if user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link" href=#></span>logout</a>
            </li>
            {% else %}
            <li class="nav-item {% if request.path == usr_login %}active{% endif %}">
                <a class="nav-link" href="{{usr_login}}"> Login </a>
            </li>
            {% endif %}
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>