{% load static %}
{% url 'products:list' as products_list %}
{% url 'products:add_item' as add_item %}
{% url 'accounts:usr_registration' as usr_registration %}
{% url 'accounts:usr_login' as usr_login %}
{% url 'usr_logout' as usr_logout %}
{% url 'cart:home' as cart_url %}


<nav class="navbar navbar-expand-md navbar-light bg-light">
    <div class="container-fluid">
        <div class="navbar-header ml-md-2 mx-auto">
            <a class="navbar-brand" href="{{products_list}}">
                <img src="{% static 'images/logo99.png' %}" height="40" class="image-fluid" alt="Logo">
                <img src="{% static 'images/brand.jpeg' %}" height="40" class="image-fluid ml-2 ml-lg-3" alt="Brand">
            </a>
        </div>
        <div class="container-fluid mx-auto">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-link {% if request.path == products_list %}active{% endif %}">
                        <a href="{{products_list}}">Products</a>
                    </li>
                </ul>
                <ul class="navbar-nav mx-auto">
                    {% if user.is_authenticated %}
                    <li class="nav-link {% if request.path == usr_logout %}active{% endif %}">
                        <a href="{{usr_logout}}">
                            Logout
                        </a>
                    </li>
                    {% else %}
                    <li class="nav-link {% if request.path == usr_registration %}active{% endif %}">
                        <a href="{{usr_registration}}">
                            <span class="glyphicon glyphicon-user"></span>
                            SignUp
                        </a>
                    </li>
                    <li class="nav-link {% if request.path == usr_login %}active{% endif %}">
                        <a href="{{usr_login}}">
                            <span class="glyphicon glyphicon-log-in"></span>
                            Login
                        </a>
                    </li>
                    {% endif %}
                </ul>
                <ul class="navbar-nav mx-auto">
                    {% if request.session.cart_items %}
                    <li class="nav-link {% if request.path == cart_url %}active{% endif %}">
                        <a href="{{cart_url}}">
                            <span class="badge badge-primary badge-pill">
                                {{ request.session.cart_items }}
                            </span>
                            <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                        </a>
                    </li>
                    {% endif %}
                </ul>
                {% include 'search/snippets/search_form.html'%}
            </div>
        </div>
    </div>
</nav>