{% load static %}
<div class="mx-auto mb-4 col-4 col-sm-3 col-md-2 col-lg-2">
    <strong class="card-title"> {{ instance.category }}<small> | {{ instance.title }}</small></strong><br>
    <div class='row no-gutters'>
        <div class="text-centre mx-auto col-5 no-gutters">
            {% if instance.image %}
            <a href='{{ instance.get_absolute_url }}'>
                <img class="img-thumbnail" src='{{ instance.image.url }}' alt="{{ instance.title }} logo" style="max-block-size: 80px">
            </a>
            {% endif %}
        </div>
        <div class="mx-auto col-7 no-gutters">
            <small class="card-subtitle mb-2 text-muted">
                ({{ instance.size }})<br> </small>
            <p class="card-text">
                {{ instance.description|truncatewords:4 }} </p>
        </div>
    </div>
    <a href="#" class="card-link">Card link</a>
    <a href="#" class="card-link">Another link</a>
</div>